<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Line</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <!-- Header / Navigation -->
    <div class="header-wrapper">
        <div class="container">
            <header>
                <div class="top-header">
                    <a href="#" class="logo">
                        <img src="/images/MLlogo.png" alt="">
                    </a>
                    <!-- Search bar -->
                    <div class="search-bar-wrapper">
                        <input type="text" placeholder="Search instruments by keywords" id="search-input">
                        <button class="btn btn-search" id="btn-search">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                    <div class="icon-group">
                        <a href="#" class="nav-icon m-right">
                            <i class="fas fa-user"></i>
                            Account
                        </a>
                        <a href="#" class="nav-icon">
                            <i class="fas fa-shopping-cart"></i>
                            Cart
                        </a>
                    </div>
                </div>
                <div class="bottom-header">
                    <!-- Navigation -->
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a href="#" class="nav-link">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Shop All</a>
                            </li>
                            <li class="nav-item">
                                <!-- Toggle dropdown menu to shop by category -->
                                <div class="dropdown">
                                    <a href="#" class="nav-link dropbtn">Shop By Category <i class="fa fa-caret-down"></i></a>
                                    <div class="dropdown-content">
                                        <a href="#" id="string-instruments">String Instruments</a>
                                        <a href="#" id="free-reed-instruments">Free Reed Instruments</a>
                                        <a href="#" id="reed-instruments">Reed Instruments</a>
                                        <a href="#" id="brass-instruments">Brass Instruments</a>
                                        <a href="#" id="fipple-flutes">Fipple Flutes</a>
                                        <a href="#" id="woodwinds">Woodwinds</a>
                                        <a href="#" id="percussion">Percussion</a>
                                        <a href="#" id="unpitched-percussion">Unpitched Percussion</a>
                                        <a href="#" id="pitched-percussion">Pitched Percussion</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
        </div>
    </div>
    
    <!-- Main (for template pages) -->
    <main>
        {{{ body }}}
    </main>

    <!-- Footer -->
    <footer class="main-footer">
        <div class="container">
            <div class="copyright">&copy; Music Line</div>
            <div class="contributing">
                <div class="footer-text">Contributed By</div>
                <ul class="group-names">
                    <li class="member-name">
                        <span>Chandler Green</span>
                        <a href="https://github.com/axeliono" target="_blank"><i class="fab fa-github"></i></a>
                    </li>
                    <li class="member-name">
                        <span>Tatum Stafford</span>
                        <a href="https://github.com/tmstafford" target="_blank"><i class="fab fa-github"></i></a>
                    </li>
                    <li class="member-name">
                        <span>Daniela Acuna</span>
                        <a href="https://github.com/tmstafford" target="_blank"><i class="fab fa-github"></i></a>
                    </li>
                    <li class="member-name">
                        <span>Yunik Sung</span>
                        <a href="https://github.com/yuniksung" target="_blank"><i class="fab fa-github"></i></a>
                    </li>
                    <li class="member-name">
                        <span>Lewis Culbert</span>
                        <a href="https://github.com/Gocus10" target="_blank"><i class="fab fa-github"></i></a>
                    </li>
                    <li class="member-name">
                        <span>Mike Lewis</span>
                        <a href="https://github.com/frecklescherokee" target="_blank"><i class="fab fa-github"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    <!-- js script -->
</body>

</html>