<section class="contact-section">
    <div class="container">
        <div class="section-name">Contact Us</div>
        <div class="forms-wrapper">
            <div class="contact-form-wrapper">
                <div class="contact-text">Send us an email</div>
                <form class="contact-form">
                    <div class="select-group">
                        <label for="contact-reason">Reason for Email:</label>
                        <select name="reasons" id="contact-reason" class="contact-reason">
                            <option value="">--Select an option--</option>
                            <option value="shipping">Shipping</option>
                            <option value="missing-item">Missing an item</option>
                            <option value="damaged-item">Recieved a damaged item</option>
                            <option value="wrong-item">Recieved the wrong item</option>
                            <option value="cancel">Cancel order</option>
                            <option value="return">Returns/refunds</option>
                        </select>
                    </div>
                    <div class="name-group">
                        <label for="contact-name">Your Name:</label>
                        <input type="text" name="contact-name" id="contact-name">
                    </div>
                    <div class="email-content">
                        <label for="email-text">Message:</label>
                        <textarea name="email-text" id="email-text"></textarea>
                    </div>
                    <button type="submit" class="btn email-btn" id="email-btn">
                        <i class="fas fa-envelope"></i> Send Email
                    </button>
                </form>
            </div>
            <div class="line"></div>
            <div class="other-contact-wrapper">
                <div class="contact-text">Reach out to us...</div>
                <ul class="contact-list">
                    <li class="contact-item first-item">
                        <i class="fas fa-phone"></i> Call us at 512.111.2222
                    </li>
                    <li class="contact-item">
                        <i class="fab fa-instagram"></i> Follow/Message us on Instagram @musiclineinstruments
                    </li>
                    <li class="contact-item">
                        <i class="fab fa-yelp"></i> Check us out on Yelp
                    </li>
                    <li class="contact-item">
                        <i class="fab fa-facebook-f"></i> Chat with us on Facebook
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="/javascript/contact.js"></script>