<section class="contact-about">
<div class="about">
    <h1>About Music Line</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt rem odit praesentium quos? Doloremque obcaecati quibusdam alias dicta, totam sunt eligendi assumenda quo libero consequatur illo atque odit saepe ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt rem odit praesentium quos? Doloremque obcaecati quibusdam alias dicta, totam sunt eligendi assumenda quo libero consequatur illo atque odit saepe ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt rem odit praesentium quos? Doloremque obcaecati quibusdam alias dicta, totam sunt eligendi assumenda quo libero consequatur illo atque odit saepe ad.</p>
</div>

<div class="contact-container">  
  <form id="contact" action="" method="post">
    <h3>Contact Form</h3>
    <fieldset>
      <input placeholder="Your name" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Your Email Address" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Username (optional)" type="username" tabindex="3" required>
    </fieldset>
    <fieldset>
      <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
  </form>
</div>
</section>


