    <header class="hero">
        <div class="img-slider">
            <figure>
                <img src="../public/banner_images/1.jpg">
                <img src="../public/banner_images/7.jpg">
                <img src="../public/banner_images/2.jpg">
                <img src="../public/banner_images/6.jpg">
                <img src="../public/banner_images/3.jpg">
            </figure>
        </div>
    </header>
    <!-- {{/each}} -->
    <main>
        <div class="main-header">
            <h1>We have the best instruments, feel free to shop around!</h1>
        </div>

       
    </main>