<div class="hero">
    <div class="container">
        <div class="hero-title">
            <span>Welcome to</span>
            Music Line
        </div>
        <!-- Sliding images -->
        <div class="img-slider">
            <figure>
                <img src="/public/banner_images/1.jpg">
                <img src="/public/banner_images/7.jpg">
                <img src="/public/banner_images/2.jpg">
                <img src="/public/banner_images/6.jpg">
                <img src="/public/banner_images/3.jpg">
            </figure>
        </div>
        <div class="hero-content">
            We have the best instruments, feel free to shop around!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor eaque sapiente atque quisquam inventore a tempore! Culpa beatae itaque, quasi nesciunt voluptatum, animi fugiat repellat exercitationem libero veniam necessitatibus odit!
        </div>
        <!-- Need to expand on the "about" part more later -->
    </div>
</div>