<div class="hero">
    <div class="container">
        <div class="hero-title">
            <span>Welcome to</span>
            Music Line
        </div>
        <!-- Sliding images -->
        <div class="img-slider">
            <figure>
                <img src="/images/1.jpg">
                <img src="/images/7.jpg">
                <img src="/images/2.jpg">
                <img src="/images/6.jpg">
                <img src="/images/3.jpg">
            </figure>
        </div>
        <div class="about-us-section">
            <div class="section-name">About Us</div>
            <div class="about-us-content">
                <div class="hero-content">
                    At Music Line, our promise is to deliver the best instruments around. Feel free to shop around to see our unique selection of instruments. 
                    If you know what you're looking for, browse by category to find what you need faster. <br> <br> <br> Music Line guarantees the best prices 
                    and the best quality instruments. We choose our instruments carefully because we know how important making music is to each and 
                    every one of our customers.
                </div>
                <div class="hero-content-img">
                    <img src="/images/about-us.jpeg" alt="about us">
                </div>
            </div>
        </div>
        <div class="testimonial-section">
            <div class="section-name">Testimonals</div>
            <div class="testimonial-description">See what our customers have to say...</div>
        </div>
        <div class="testimonials">
            <div class="testimonial-card">
                <div class="user">
                    <div class="user-icon"><i class="fas fa-user"></i></div>
                    <div class="user-name">Laura S.</div>
                </div>
                <div class="user-quote">
                    "I purchased a guitar from Music Line and recieved it way faster than expected! Will definitely buy all future instruments from here!"
                </div>
            </div>
            <div class="testimonial-card">
                <div class="user-quote">
                    "The instruments I have purchased from Music Line are the best quality for the best price!"
                </div>
                <div class="user">
                    <div class="user-icon"><i class="fas fa-user"></i></div>
                    <div class="user-name">David F.</div>
                </div>
            </div>
            <div class="testimonial-card">
                <div class="user">
                    <div class="user-icon"><i class="fas fa-user"></i></div>
                    <div class="user-name">Leo D.</div>
                </div>
                <div class="user-quote">
                    "I bought a wide variety of instruments from Music Line for my band and they are all 10/10! I told every band I know to get all their next instruments from here!"
                </div>
            </div>
        </div>
    </div>
</div>