<!-- Login/Signup Page -->
<section class="login-signup">
    <div class="container">
        <div class="forms-wrapper">
            {{#if loggedIn}}
            <div class="login-side">
                <div class="login-text">
                    You are logged in
                </div>
                <button class="btn nav-icon toLogout">
                    <i class="fas fa-user"></i>
                    Logout
                </button>
            </div>
            {{else}}
            <div class="login-side">
                <div class="login-text">
                    <span>Existing users...</span>
                    Log In:
                </div>
                <form class="login-form" id="login-form">
                    <div class="input-group">
                        <label for="login-email">Email:</label>
                        <input type="text" name="login-email" id="login-email">
                    </div>
                    <div class="input-group">
                        <label for="login-password">Password:</label>
                        <input type="password" name="login-password" id="login-password">
                    </div>
                    <button class="btn login-btn" id="login-btn" type="submit">Log In</button>
                                    {{#if loggedIn}}
                    <button class="btn toLogout">
                        {{!-- <i class="fas fa-user"></i> --}}
                        Log out
                    </button>
                    {{/if}}
                </form>
            </div>
            <div class="line"></div>
            <div class="signup-side">
                <div class="signup-text">
                    <span>New users...</span>
                    Sign Up:
                </div>
                <form class="signup-form" id="signup-form">
                    <div class="input-group">
                        <label for="signup-email">Email:</label>
                        <input type="text" name="signup-email" id="signup-email">
                    </div>
                    <div class="input-group">
                        <label for="signup-username">Username:</label>
                        <input type="text" name="signup-username" id="signup-username">
                    </div>
                    <div class="input-group">
                        <label for="signup-password">Password:</label>
                        <input type="password" name="signup-password" id="signup-password">
                    </div>
                    <button class="btn login-btn" id="signup-btn" type="submit">Sign Up</button>
                </form>
            </div>
            {{/if}}
        </div>
    </div>
</section>
<script src="/javascript/account.js"></script>
{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}