<section class="shop-by-category">
    <div class="container">
        <div class="section-name">Shop By Category: <span id="classification-name" class="classification-name">{{instruments.Classification.name}}</span></div>
        <div class="grid-wrapper">
            {{#each instruments as |instrument|}} 
                {{> instrument-info instrument }}
            {{/each}}
        </div>
    </div>
</section>

<script src="/javascript/category.js"></script>