<section>
    <div class="container">
        <div class="section-name">Your Shopping Cart</div>
        <div class="adding-cart">
    
            <div class="cart-list">
                <div class="item-list">
                    <div class="item-img" id="item-img">
                        <img src="images2/accordian.jpg" alt="">
                    </div>
                    <div class="item-name" id="item-name">
                        Accordian
                    </div>
                    <div class="item-group">
                        <div class="item-text">Qty</div>
                        <div class="quantity" id="quantity">2</div>
                    </div>
                    <div class="item-group">
                        <div class="item-text">Price</div>
                        <div class="price" id="price">$100.00</div>
                    </div>
                    <div class="item-group">
                        <div class="item-text">Total</div>
                        <div class="total" id="total">$200.00</div>
                    </div>
                    <div class="remove" id="remove-cart">
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </div> 
            <div class="summary">
                <div class="sum-header">
                    Summary
                </div>
                <div class="summary-wrapper">
                    <div class="summary-contents">
                        <p>Total</p>
                        <div class="summary-total">$250.00</div>
                    </div>
                    <div class="sales-tax summary-contents">
                        <p>Sales Tax</p>
                        <div class="summary-tax">8.25%</div>
                    </div>
                    <div class="subtotal summary-contents">
                        <p>Subtotal</p>
                        <div class="summary-subtotal">$277.00</div>
                    </div>
                </div>
                <div class="checkout">
                    <button type="submit" id="checkout-btn">
                        Checkout
                        <i class="fas fa-arrow-circle-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/javascript/shopping.js"></script>