    <section class="shopping-cart-page">
        <h1>Your Shopping Cart</h1>
        <div class="cart-page">
            <div class="adding-cart">

                {{!-- First item --}}
                <div class="cart-list">
                    <div class="item-list">
                        <div class="item-img" id="item-img">
                            {{!-- <img src="../public/images/accordian.jpg" alt=""> --}}
                        </div>
                        <div class="item-name" id="item-name">
                            {{!-- <h3>Accordian</h3>
                            <p>description</p> --}}
                        </div>
                        <div class="quantity" id="quantity">
                            {{!-- <p>2</p> --}}
                        </div>
                        <div class="price" id="price">
                            {{!-- <p>$100.00</p> --}}
                        </div>
                        <div class="total" id="total">
                            {{!-- <p>$200.00</p> --}}
                        </div>
                        <div class="remove">
                            <button id="remove-cart"><i class="fas fa-trash-alt"></i></button>
                        </div>
                    </div>
                    
                </div>        
            
            <div class="summary">
                <div class="sum-header">
                    <h1>Summary</h1>
                </div>
                <div class="price-calculate summary-contents">
                    <p>Total</p>
                    {{!-- <p>$$$$$$$</p> --}}
                </div>
                <div class="sales-tax summary-contents">
                    <p>Sales Tax</p>
                    <p>8.25%</p>
                </div>
                <div class="subtotal">
                    <h2>Subtotal</h2>
                    {{!-- <h2>$$$$$$$</h2> --}}
                </div>
                <div class="checkout">
                    <button type="submit" id="checkout-btn">
                        <h2>Proceed To Checkout</h2>
                        <i class="fas fa-arrow-circle-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </section>