<section class="shop-all">
    <div class="container">
        <div class="section-name">Shop All Instruments</div>
        <div class="grid-wrapper">
            {{#each instruments as |instrument|}} 
                {{> instrument-info instrument }}
            {{/each}}
        </div>
    </div>
</section>

<script src="/javascript/shop.js"></script>