<section>
    <div class="container">
        <div class="section-name">Your Shopping Cart</div>
        <div class="adding-cart">
    
            <!-- First item -->
             {{#each items as |item|}}
            <div class="cart-list">
                <div class="item-list">
                    <div class="item-img" id="item-img">
                        <img src="/images/{{item.instrument.name}}.jpg" alt="">
                    </div>
                    <div class="item-name" id="item-name">
                        {{item.instrument.name}}
                    </div>
                    <div class="item-group">
                        <div class="item-text">Qty</div>
                        <div class="quantity" id="quantity">1</div>
                    </div>
                    <div class="item-group">
                        <div class="item-text">Price</div>
                        <div class="price" id="price">{{item.instrument.price}}</div>
                    </div>
                    <div class="remove" id="remove-cart">
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </div>
            {{/each}}

            <!-- Summary of Cart -->       
            <div class="summary">
                <div class="sum-header">
                    Summary
                </div>
                <div class="summary-wrapper">
                    <div class="summary-contents">
                        <p>Total</p>
                        <div class="summary-total"></div>
                    </div>
                    <div class="sales-tax summary-contents">
                        <p>Sales Tax</p>
                        <div class="summary-tax">8.25%</div>
                    </div>
                    <div class="subtotal summary-contents">
                        <p>Subtotal</p>
                        <div class="summary-subtotal"></div>
                    </div>
                </div>
                <div class="checkout">
                    <button type="submit" id="checkout-btn">
                        Checkout
                        <i class="fas fa-arrow-circle-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/javascript/shopping.js"></script>
<script>
    window.addEventListener('load', (event) => {
    var sum = 0;
    var subtotal = 0;
       let prices = document.querySelectorAll('.price');
       for(i=0; i<prices.length; i++) {
       sum += (parseInt(prices[i].innerText));
       }
    subtotal = (sum * .0825) + sum;
    let total = document.querySelector('.summary-total');
    let subt = document.querySelector('.summary-subtotal');

    total.innerHTML = sum;
    subt.innerHTML = subtotal;
});
</script>