<section class="shop-by-category">
    <div class="container">
        <div class="section-name">Shop By Category: <span id="classification-name" class="classification-name">Winds</span></div>
        <div class="grid-wrapper">
            <a href="#" class="card">
                <img src="images2/cello.png" alt="">
                <div class="card-details">
                    <div class="instrument-name">Cello</div>
                    <div class="instrument-description">Gibson</div>
                    <div class="instrument-price"><i class="fas fa-ellipsis-h"></i> $900</div>
                </div>
            </a>
        </div>
    </div>
</section>