<section>
    <div class="container">
        <div class="section-name">Your Shopping Cart</div>
        <div class="adding-cart">
    
            <!-- First item -->
             {{#each items as |item|}}
            <div class="cart-list">
                <div class="item-list">
                    <div class="item-img" id="item-img">
                        <img src={{item.instrument.image_path}} alt="">
                    </div>
                    <div class="item-name" id="item-name">
                        {{item.instrument.name}}
                    </div>
                    <div class="item-group">
                        <div class="item-text">Qty</div>
                        <div class="quantity" id="quantity">1</div>
                    </div>
                    <div class="item-group">
                        <div class="item-text">Price</div>
                        <div class="price" id="price">
                            $ <span class="enter-price">{{item.instrument.price}}</span>
                        </div>
                    </div>
                    <div class="remove" item="{{item.id}}">
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </div>
            {{/each}}

            <!-- Summary of Cart -->       
            <div class="summary">
                <div class="sum-header">
                    Summary
                </div>
                <div class="summary-wrapper">
                    <div class="summary-contents">
                        <p>Total</p>
                        <div class="summary-total"></div>
                    </div>
                    <div class="sales-tax summary-contents">
                        <p>Sales Tax</p>
                        <div class="summary-tax">8.25%</div>
                    </div>
                    <div class="subtotal summary-contents">
                        <p>Subtotal</p>
                        <div class="summary-subtotal"></div>
                    </div>
                </div>
                <div class="checkout">
                    <button type="submit" id="checkout-btn">
                        Checkout
                        <i class="fas fa-arrow-circle-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/javascript/cart.js"></script>