<section class="shop-all">
    <div class="container">
        <div class="section-name">Shop All Instruments</div>
        <div class="grid-wrapper">
            {{#each instruments as |instrument|}} 
            <a href="#" class="card">
                <img src="images2/cello.png" alt="">
                <div class="card-details">
                    <div class="instrument-name">{{instrument.name}}</div>
                    <div class="instrument-description">{{instrument.manufacturer}}</div>
                    <div class="instrument-price"><i class="fas fa-ellipsis-h"></i> ${{instrument.price}}</div>
                </div>
            </a>
            {{/each}}
        </div>
    </div>
</section>