<fieldset>
            <h3>Shopping Cart</h3>
            <div class="col-topic">
                <h4>Item</h4>
                <h4>Price</h4>
                <h4>Quantity</h4>
                <h4>Total</h4>
            </div>
            <div class="item-detail" id="item-img">
                <!-- item(s)
                From here, html code will be deleted and it will be re-written from 
                javascript-->
                <div class="item-descript">
                    <div class="item-img">
                        <img src="../public/images/accordian.jpg" alt="">
                    </div>
                    <div class="item-txt" id="itemTxt">
                        <div class="instrument-name" id="instName">
                            <h2>Accordian</h2>
                        </div>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium ipsa illum id aliquid exercitationem in blanditiis quasi, aspernatur modi vel quidem numquam totam reprehenderit nobis placeat accusantium, obcaecati, veniam eaque?
                    </div>
                </div>

                    <h4 class="price">$1000</h4>
                    <h4 class="quantity">1</h4>
                    <h4 class="total">$1000</h4>

                </div>
            </div>
</fieldset>