/* Global & reusable styles */
* {
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}

body {
    margin: 0;
    font-size: 10px;
    color: #FFF;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.m-right {
    margin-right: 12px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}

section {
    padding: 9.5rem 0;
}

/* Shop all instruments styling */
.section-name {
    color: #000;
    font-size: 3rem;
    border-bottom: 1px solid #000;
    padding-bottom: 1rem;
}
.grid-wrapper {
    height: 100%;
    padding-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 1rem;
}

.card {
    height: 350px;
    padding: 1.2rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.5s ease-in-out, border 0.3s ease-in-out;
}

.card:hover {
    box-shadow: none;
    border: 2px solid #000;
}

.card img {
    width: 100%;
    height: 60%;
}

.card-details {
    padding-top: 2.6rem;
    display: flex;
    flex-direction: column;
    color: #000;
    letter-spacing: 1px;
}

.instrument-name {
    font-size: 2rem;
    font-weight: 600;
}

.instrument-description {
    font-size: 1.2rem;
    color: #bdbdbd;
    font-style: italic;
}

.instrument-price {
    align-self: flex-end;
    font-size: 1.2rem;
    font-weight: 600;
}

.instrument-price i {
    margin-right: 0.5rem;
}

@media screen and (min-width: 900px) {
    .grid-wrapper {
        grid-template-columns: repeat(4, 1fr);
        gap: 1.2rem;
    }
}

@media screen and (min-width: 1120px) {
    .grid-wrapper {
        grid-template-columns: repeat(5, 1fr);
        gap: 1.2rem;
    }
}

.classification-name {
    font-style: italic;
    font-weight: 600;
}

/* Single Instrument view */
.single-instrument {
    display: flex;
    color: #000;
}

.image-wrapper {
    width: 50%;
    height: 450px;
}

.image-wrapper img {
    width: 100%;
}

.content-wrapper {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid #000;
    padding-left: 3rem;
}

.single-name {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.single-price {
    margin-top: 0.7rem;
    font-size: 2rem;
}

.single-text p {
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin: 8px;
}

.single-text span {
    color: #bdbdbd;
    font-weight: 600;
}

.btn {
    outline: none;
    border: none;
    padding: 0.7rem 1rem;
}

.add-to-cart-btn {
    font-size: 1rem;
    text-transform: uppercase;
}

.add-to-cart-btn i {
    margin-right: 8px;
}

@media screen and (min-width: 1020px) {
    .content-wrapper {
        height: 550px;
        padding: 1rem 1rem 1rem 4.5rem;
    }
    .single-name {
        font-size: 3.3rem;
    }
    .single-price {
        font-size: 2.3rem;
    }
    .single-text p {
        font-size: 1.4rem;
    }
    .add-to-cart-btn {
        margin-top: 1.3rem;
    }
}

/* Login/Signup page */
.forms-wrapper {
    color: #000;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.login-side,
.signup-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.line {
    width: 1px;
    height: 400px;
    margin-top: 5rem;
    background-color: #000;
}

.login-text,
.signup-text {
    font-size: 2rem;
}

.login-text span,
.signup-text span {
    display: block;
    font-size: 1rem;
    color: #bdbdbd;
}

.login-form,
.signup-form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.signup-form {
    margin-top: 3rem;
}

.input-group label {
    display: block;
    margin-bottom: 0.3rem;
    font-size: 0.75rem;
}

.input-group input {
    width: 15rem;
    height: 1.8rem;
    margin-bottom: 2rem;
    outline: none;
    border: 1px solid #bdbdbd;
}

.login-btn {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 600;
}

@media screen and (min-width: 1020px) {
    .login-text,
    .signup-text {
        font-size: 3rem;
    }
    .login-text span,
    .signup-text span {
        font-size: 1.4rem;
    }
    .login-form,
    .signup-form {
        margin-top: 2.5rem;
    }
    .signup-form {
        margin-top: 3rem;
    }
    .input-group label {
        font-size: 0.85rem;
    }
    .input-group input {
        width: 18rem;
        height: 2.1rem;
        margin-bottom: 2rem;
    }
    .login-btn {
    font-size: 0.85rem;
    }
}