.shopping-cart-page{
    width: 80%;
    height: 60vh;
    margin: 50px auto;
}

.shopping-cart-page h1{
    text-transform: uppercase;
    margin-bottom: 20px;
}

.adding-cart{
    width: 80%;
    height: 60vh;
    margin: 50px auto;
}

.cart-list{
    display: flex;
    width: 90%;
    background-color: #E5E9EA;
    box-shadow: 2px 2px 7px rgba(0,0,0,0.2);
    margin-bottom: 20px;
}

.cart-list:hover{
    background-color: #e2eef1;
}

.item-list{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.item-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.remove button{
    cursor: pointer;
    border: none;
}

.remove button:hover{
    color: red;
}

.remove button i{
    font-size: 18px;
}


.cart-page{
    display: flex;
}

.summary{
    width: 35%;
    height: 35vh;
    margin: 50px auto;
    padding: 20px 30px;
    background-color: #E5E9EA;
    box-shadow: 2px 2px 7px rgba(0,0,0,0.2);
}

.sum-header{
    width: 100%;
    color: rgb(240, 69, 69);
    font-size: 24px;
}

.sales-tax{
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.2)
}

.summary-contents{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.summary-contents p{
    width: 20%;
    margin: auto;
}

.subtotal{
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.subtotal h2{
    width: 30%;
    margin: auto;
}

.checkout{
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.checkout button{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 10px 5px;
    background-color: #cc5047;
    border-radius: 5px;
}

.checkout button:hover{
    background-color: #a50c01;
}

.checkout button h2{
    color: #fff;
    font-weight: 900;
    margin-right: 10px;
}

.checkout button i{
    color: #fff;
    font-size: 30px;
    font-weight: 900;
}