* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:  rgb(241, 241, 241);
}

.nav-bar {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
}

/* top navigation section
--Inclde: search-bar with the button
--Include: cart dropdown-menu */
.top-nav{
    width: 100%;
    height: 50%;
    margin: 0 auto;
    padding: 0 10%;
    display: flex;
    background-color: rgb(219, 219, 219);
}
/* logo */
.logo{
    width: 15%;
    background-color:  rgb(219, 219, 219); /* To display boundaries */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a{
    text-decoration: none;
}

.logo a h1{
    color: rgb(163, 0, 0);
    font-size: 50px;
    font-family: "dancing script";
    text-align: center;
    transition: all 0.35s;
}

.logo a h1:hover{
    color: rgb(219, 58, 58);
}

/* search bar and button styling */
.search-bar{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color:  rgb(219, 219, 219); /* To display boundaries */
}

.search-bar input{
    width: 80%;
    padding: 5px;
    height: 90%;
    border: none;
}

.search-btn{
    width: 5%;
    height: 90%;
    border: none;
}

.search-btn i{
    font-size: 25px;
    color:  rgb(163, 0, 0);
    transition: all 0.35s;

}

.search-btn i:hover{
    color:  rgb(219, 58, 58);
}

/* sign-up and cart drop down menu */
.account-cart{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color:  rgb(219, 219, 219);; /* To display boundaries */
}

.cart {
    margin: auto 10px;
}

.cart a{
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    color:  rgb(163, 0, 0);
    transition: all 0.32s;
}

.cart a:hover{
    color:   rgb(219, 58, 58);

}

.cart i{
    font-size: 30px;
    padding-bottom: 5px;
}



/* .account {
    margin: auto 10px;
} */

/* 
.account a{
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    color: rgb(122, 122, 122);
}

.account i{
    font-size: 22px;
    padding-bottom: 5px;
} */


/* bottom nav-menu/ only menu list
note: all category menu will be dropped down to show each categories
note: About and contact menu will have its own page */
.bot-nav{
    width: 100%;
    height: 30%;
    margin: 0 auto;
    padding: 0 10%;
    display: flex;
    justify-content: space-around;
    background-color:  rgb(196, 196, 196);
}
.bot-nav ul{
    width: 60%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.bot-nav li{
    margin: auto 50px;
}

.bot-nav li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
    color: rgb(75, 75, 75);
}

/* header img slider */
.hero {
    width: 80%;
    margin: 0 auto;
}
.img-slider{
    overflow: hidden;
}

.img-slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 30s slider infinite;
}

.img-slider figure img{
    width: 20%;
    float: left;
    height: 55vh;
}

@keyframes slider {
    0%{
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }

}

  /* MAIN SECTION WHERE ALL INSTRUMENTS CAN BE FOUND */
  main{
      width: 80%;
      margin: 40px auto;
  }
  
  .main-header{
      width: 100%;
      height: 20%;
  }

  .main-header h1{
    color:rgb(163, 0, 0);
    text-align: center;
}

  .inst-select{
      margin: 20px auto;
  }


/* footer */
footer{
    width: 100%;
    margin-top: 100px;
    background-color: rgb(196, 196, 196);
    position: absolute;
}

.contribution {
    width: 50%;
    height: 100%;
    margin: auto;

}

.contribution ul {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.contribution ul h2{
    margin-top: 20px;
    padding-bottom: 20px;
}

.contribution ul li {
    list-style: none;
    width: 20%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contribution ul li a{
    text-decoration: none;
    text-align: center;
    margin: 5px;
    color: rgb(233, 233, 233);

}
